*{
    box-sizing: border-box;
    margin: unset;
    background-color: #abd699;
    font-family: cursive;

}

main{
    padding: 5%;
    width: 90%;
    align-self: center;
    margin-bottom: 0;
}
.navbar a{
    padding: 1em;
    color:inherit;
    text-decoration: none;
    display: grid;
    
}
.navbar .hamburger{
    position: absolute;
    top : 0;
    right: 0;
    border: unset;
    background-color: unset;
    cursor: pointer; 
}
.navbar .hamburger svg{
    stroke: #846912 ;
}

.navbar > ul{
    display: none;
    background-color: #16123f;
    border:#16123f 2px;
}
.navbar .open {
    display: grid;
    list-style: none;

}
#picOnHome{
    width: 80%;
    height: 10%;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 5%;
    box-shadow: #16123f 0px 0px 10px 5px;
}
p{

    margin: 5%;
    text-align: center;
    font-size: 130%;
 
}
em{
    font-weight: bold ;

}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    list-style-type: none;
    height: 3%;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    grid-template-columns: space-around;
}
footer ul li{
    gap: 50px;  
    background-color:white;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    margin: unset;
}

.fa {
    width: 25%;
    height: 25%;
    margin: 2%;
    
}
  
.nav-links ul {
    margin-top: 40%;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

 }
 .nav-links li{
    list-style: none;
 }
 .nav-links a{
    text-decoration: none;
    color: black;
    background-color: #c7ddcc;
    font-size:larger;
    gap: 50%;
 }

em{
    
    color: linear-gradient(to bottom left, #553c9a, #ee4b2b);
}
table{
    border-collapse: collapse;
    border: 2px  black;
    border-radius: 3%;
    width: 100%;
    margin: 2%;

}
th,td{
    align-items: center;
    border: #4C440A 1px solid;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 5%;
}
.accomplishments {
    display: grid;
    grid-template-rows: 1fr;
    width: 95%;
    margin: 5%;
    margin-top: 10%;
    
}

.personal{
    margin: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
aside{
    margin: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.music{
    margin: 5%;
}blockquote{
    margin:0;
}
blockquote{
    margin:0;
    margin-left: 5%;
}
audio{
    border-radius: 20px;
    margin: 10%;
    color: #c7ddcc;
    border-radius: 10px;
    box-shadow: #c7ddcc 1px 1px;
}
.useful-info{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
}
.useful-info > h3{
    margin: unset;
    margin-bottom: 10%;
}
.useful-info > ul{
    background-color: #DBAF1F;
    box-shadow: #4C440A 0px 0px 10px 5px;
    border-radius: 2em;
    width: 100%;
    list-style: circle;
    margin: 0;
    margin-bottom: 5%;
    font-size: 120%;
}
.personal { 
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    gap: 2%;
    margin-bottom: unset;

}
.personal > div{
    margin: unset;
    height: fit-content;
    width: fit-content;
}
.personal h3{
    margin: unset;
}
.personal ul{
    list-style: circle;
    margin-left: 8%;
    margin-bottom: unset;
    padding: unset;
    margin-top: 5%;
    font-size: 120%;
    width: 100%;
    height: 100%;
}


.personal .fa-solid{
    width:20%;
    height: 20%;
    color:blue;
    margin: 5%;
}
.personal.school{
    margin: 5%;
}
form h3{
    margin: unset;
    margin-top: 2%;
}
 form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: unset;
    gap: 2px;

}
form > *{
    margin: unset;
    
}

.form >* > *{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    border-radius: 3%;
}

#submit{
    display: grid;
    background-color: #c7ddcc;
    margin-top: 5%;
    width: 40%;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 20px;
}
label{
    margin: unset;
    border-radius: 10%;
    width :50%;
}

.useful-info{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.useful-info > h3{
    margin: unset;
    margin-bottom: 10%;
}   
.useful-info a{
    text-decoration: none;
}
.useful-info > ul{
    background-color:aliceblue ;
    box-shadow: black 0px 0px 10px 5px;
    border-radius: 2em;
    width: 60%;
    list-style: circle;
    margin: 0;
    margin-bottom: 5%;
    margin-left: 20%;
    font-size: 120%;
}.useful-info > ul > li > a{
    text-decoration: none;
    background-color: #c7ddcc;
    padding: 0;
    width: fit-content;
    color: black;
}
.useful-info li{
    background-color: #c7ddcc;
    border-radius: 2px;
}
.useful-info a{
    text-decoration: none;
}
.useful-info :hover{
    background-color: #c7ddcc;
}
address   a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    margin: 5%;
}
address p {
    text-decoration: none;
    background-color: #c7ddcc;
    box-shadow: black 0px 0px 10px 5px;
    border-radius: 2em;
    width: 100%;
    margin: unset;
    margin-top: 20%;
}
address p > *{
    text-decoration: none;
    background-color: #c7ddcc;
}
.certs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.certs >*{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}
.certs > figure{
    width: fit-content;
    height: fit-content;
    ;
    border-radius: 5%;
    margin-left: 8%;
    margin-top: 12%;
    box-shadow: black 0px 0px 10px 5px;
    
}
.certs > figure> figcaption{
    margin: 1%;
    align-self: center;
    font-size: 130%;
}

.vid{
    display:grid;
    box-shadow: black 0px 0px 10px 5px;
    align-items: center;
    margin: 10%;
    width: 50%;
    height: 30%;
}
.vid > h3{
    margin: unset;
    align-self: center;
    margin-bottom: 1%;
}